<div id="goal-page" class="layout-column flex">
  <h2>My Goals</h2>

  <div class="flex">
    {{#paper-list}}
    {{#each goals as |item|}}
      {{#paper-item class="md-3-line"}}
      <div onclick={{action "editTitle"}} class="md-list-item-text">
        <h3>{{item.title}}</h3>
        <h4>{{item.timeSpent}}</h4>
      </div>
      {{paper-divider}}
      <div class="layout-column">
        {{#paper-button}}Level Up!{{/paper-button}}
        {{#paper-button onClick=(action "deleteGoal" item)}}{{paper-icon "delete"}}{{/paper-button}}
      </div>
      {{/paper-item}}
    {{/each}}
    {{/paper-list}}
  </div>

  <div class="flex">
    {{paper-input label="New Goal" value=newGoal onChange=(action (mut newGoal))}}
    {{#paper-button raised=true  onClick=(action "addGoal")}}Add{{/paper-button}}
  </div>
</div>
