<div class="timer">
  {{format-milliseconds milliseconds}}
</div>

{{#if isRunning}}
  {{#paper-button raised=true fab=true onClick=(action "pauseCount")}}{{paper-icon "pause" size=30}}{{/paper-button}}
{{else}}
  {{#paper-button raised=true fab=true onClick=(action "startCount")}}{{paper-icon "play-arrow" size=30}}{{/paper-button}}
{{/if}}
{{#paper-button raised=true fab=true onClick=(action "restartCount")}}{{paper-icon "autorenew" size=30}}{{/paper-button}}
{{#paper-button raised=true }}Submit{{/paper-button}}
{{#link-to "goals"}}Go Back{{/link-to}}
