{{top-navigation title="My Goals"}}

<div id="goal-page" class="layout-column flex">

  <!-- Add New Goal Module -->
  <div class="layout-row layout-align-center-center">
    {{#paper-card class="flex-70 flex-gt-sm-50" as |card| }}
      {{#paper-toolbar}}
      {{#paper-toolbar-tools}}
      <h2>
        Add a New Goal
      </h2>
      {{/paper-toolbar-tools}}
      {{/paper-toolbar}}

      {{paper-input label="New Goal" value=newGoal onChange=(action (mut newGoal))}}
      {{#paper-button raised=true onClick=(action "addGoal" newGoal)}}Add{{/paper-button}}
    {{/paper-card}}
  </div>

  <!-- Empty Goals Instruction -->
  {{#unless model.length}}
    {{#paper-card as |card|}}
      {{#card.title as |title|}}
        {{#title.text as |text|}}
          {{#text.headline}}You Currently Have No Goals{{/text.headline}}
          {{#text.subhead}}(how lame){{/text.subhead}}
        {{/title.text}}
      {{/card.title}}
      {{#card.content}}
        <p>
          Please add a new goal by using the form above!
        </p>
      {{/card.content}}
    {{/paper-card}}
  {{/unless}}

  <!-- Goals List -->
  {{#each model as |item|}}
    {{#paper-card as |card|}}
      {{#card.title as |title|}}
        {{#title.text as |text|}}
          {{#text.headline}}{{item.title}}{{/text.headline}}
          {{#text.subhead}}
          <div class="layout-column flex">
            <h3>Total Time Spent: {{item.timeSpent}}</h3>
          </div>
          {{/text.subhead}}
        {{/title.text}}
        {{title.media size="md" src="/assets/tedy_bear_128px.png" class="face" alt="bear"}}
      {{/card.title}}
      {{#card.actions}}
        {{#paper-button onClick=(action "updateGoal" item.id)}}
            Level Up!
        {{/paper-button}}
        {{#paper-button onClick=(action "deleteGoal" item.id)}}Delete{{/paper-button}}
      {{/card.actions}}
    {{/paper-card}}
  {{/each}}

</div>
{{outlet}}
